PROJECT_DOMAIN=<PROJECT_DOMAIN>
SLUG=<SLUG>
DOMAIN=<DOMAIN>
PUBLIC_HOST=<SLUG>.<DOMAIN>
PORT_BLOCK=<PORT_BLOCK>
APP_PORT=<APP_PORT>
COMPOSE_PROJECT_NAME=<SLUG>_main
HEALTH_PATH=/health

DB_SERVICE=mysql
DB_INTERNAL_PORT=3306
